.container {
    display: flex;
    cursor: pointer;

    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #fce100;
    }

    &__img {
        height: 40px;
        width: 40px;
    }
}

.subtitle {
    color: #E0E0E0;
    word-wrap: break-word;
    margin-bottom: 0px;
}