.container {
    display: flex;
    width: fit-content;
    cursor: pointer;

    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #fce100;
    }

    &__img {
        height: 40px;
    }
}

.subtitle {
    color: #b8b8b8;
    word-wrap: break-word;
    margin-bottom: 0px;
}