.container {
    text-align: center;
    @media(max-width: 500px) {
        width: 100%;
    }

    &__icon {
        position: absolute;
        margin-left: 20px;
        margin-top: 7px;
        color: #b8b8b8;
    }

    &__input {
        padding: 10px 10px 10px 60px;
        border-radius: 30px;
        width: 30%;
        border-color: transparent;
        box-shadow: 0px 4px 4px rgba($color: #000, $alpha: 0.25);
        text-overflow: ellipsis;
        transition: all 0.4s;

        @media(max-width: 1094px) {
            width: 50%;
        }

        &:focus {
            outline: none;
            border: 3px solid #fce100;
        }
    }
}